:root {
    --major: #1B252F;
    --secondary: #FFCB01;
    --additional: #1e3983;
    --highlighter: #EC5C5C;
    --white: #fff;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Archivo", Sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#app {
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}

#view-container {
    min-width: 80%;
    max-width: 80%;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -.6px;
    margin-top: 10px;
    width: 100%;
    padding: 0 28px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--major);
    box-sizing: border-box;
}

.title span {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -.3px;
    font-weight: 400;
    max-width: 640px;
    display: block;
    margin: auto auto 20px;
    width: 100%;
    padding: 0 28px;
    text-align: center;
    color: var(--black);
    font: 97% / 1.5 Arial, Helvetica, sans-serif;
}

.requirements {
    max-width: 1160px;
    margin: 0 auto 10px;
    padding: 40px 20px;
    background-color: var(--major);
}

.requirements h3 {
    display: block;
    width: 100%;
    letter-spacing: -.6px;
    line-height: 32px;
    text-align: center;
    font-size: 32px;
    margin-bottom: 34px;
    color: var(--white);
}

.requirements-icons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 30px;
    height: auto;
}

.requirements-icons>div {
    flex-basis: 0;
    flex-grow: 1;
    overflow-x: hidden;
    text-align: center;
    color: var(--white);
    padding: 5px;
}

.requirements-icons span {
    font-size: 64px;
    margin-bottom: 12px;
    color: var(--highlighter);
}

.requirements-icons p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.requirements-icons h5 {
    font-weight: 600;
    font-size: 1.2em;
}

.content-btns {
    display: flex;
    justify-content: center;
    width: 100%;
}

.continue {
    display: block;
    margin: 5px;
    font-size: 17px;
    font-weight: 800;
    line-height: 24px;
    padding: 10px;
    border-radius: 100px;
    text-align: center;
    background-color: var(--major);
    width: 100%;
    max-width: 220px;
    border: 2px solid var(--major);
    color: var(--white);
    cursor: pointer;
    transition: all 0.5s ease;
}

.continue:hover {
    border: 2px solid var(--highlighter);
    background-color: transparent;
    color: var(--major);
}

.continue:disabled {
  background-color: #ccc;
  border-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.7;
}

.form {
    color: var(--white);
}

.form>div {
    margin: 10px 0;
}

.content-inputs{
    display: flex;
    width: 100%;
}

.content-inputs > div {
    width: 50%;
    margin: 0 5px;
}

label {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

select,
input {
    outline: 0;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--white);
    background: transparent;
    font-weight: bold;
    box-sizing: border-box;
    color: var(--white);
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select option {
    background: var(--major);
    padding: 10px;
}

select option:checked,
select option:hover {
    background: var(--highlighter);
}

.typeOfScholarship {
    display: flex;
}

.typeOfScholarship>div {
    width: 50%;
}

.percentage {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.percentage>div {
    width: 100%;
    display: flex;
    align-items: center;
}

.percentage p {
    width: auto;
    margin-left: 10px;
    font-weight: bold;
}

.file-component {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.file-component > input{
  display:none;
}

.file-component label{
    margin: 0;
}

.file-component label *{
  vertical-align:middle;
  cursor:pointer;
}

.file-component > label > span:nth-child(2){
  margin-left: 10px
}

.file-component > span.material-symbols-outlined{
  vertical-align:middle;
  margin-left: 5px;
  cursor:pointer;
  display:none;
}

.plan {
    margin-bottom: 34px;
    overflow: hidden;
    width: 0;
    height: 0;
    transition: all 0.5s ease;
}

.plan.show{
    width: 100%;
    height: auto;
}

.plan h3{
    display: block;
    width: 100%;
    letter-spacing: -.6px;
    line-height: 32px;
    text-align: center;
    font-size: 32px;
    margin-bottom: 34px;
    color: var(--major);
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin: 0 auto;
  width: 100%;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: var(--major);
  color: var(--white);
}

th,
td {
  border: 1px solid var(--black);
  padding: 8px 10px;
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: silver;
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}


#loading {
    text-align: center;
    font-weight: bold;
}
